.dropdown {
    font-family: verdana;
    position: relative;
    display: inline-block;
    text-align: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #334854;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 6px 6px;
  z-index: 1;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}